<div>
	<p>Doctors may login from link shown above</p>
</div>
<br>
<br>
<div>
	<h1>Hospital Management</h1>
</div>
<br>
<br>
<div>
	<%= link_to 'Total Patients\' list for treatment', doctors_patients_path %>
</div>