<h2>Comments by User</h2>

<table>
	<tr>
		<th> Commentable_id </th>
		<th> Commentable_type </th>
		<th> Comments </th>
		<th> Created At </th>
	</tr>
	<% @comments.each do |comment| %>
	<tr>
		<td>
			<%= comment.commentable_id %>
		</td>
		<td>
			<%= comment.commentable_type %>
		</td>
		<td>
			<%= comment.yourcomments %>
		</td>
		<td>
			<%= comment.created_at %>
		</td>
	</tr>
	<% end %>
</table>
