<p>
<strong>Name</strong>
<%= @form.name %></p>
<p>
<strong>Address </strong>
<%= @form.address %>
</p>
<p><strong>Address </strong>
<%= @form.email %>
</p>
<p><strong>Queries </strong>
<%= @form.queries %>
</p>