<h1>Welcome</h1>
<p>
	In this section we'll see polymorphic association.
	The models used for this association are Event,Article,Comment and Enduser
</p>
<p>
	The other models which are present in this project are used for practising HABTM between Student and Teacher model.
</p> 