%br
.dropdown
  %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    %btncaption Select Record Detail
    %span.caret
  %ul.dropdown-menu= main_navigation + static_navigation